.main{
  margin-top: 100px;
  margin-left: 350px;

padding: 20px;
}

h2 {
  color:#041f77;
}

.border {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 1em;
  overflow-x: auto;
  margin-top: 100px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  color:#09278b;}

/* Style for alternating row colors */
tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dfe1f5;
}

tr:hover {
  background-color: #f5f5f5;
}
button{
  background-color: #09278b;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.styled-table thead tr th{
  color: black;
}

.styled-table th, .styled-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f8f9fa;
  border: solid 1px black;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  background-color: #dfe1f5;
  border: none;
  text-align: left;
  cursor: pointer;
  color: black;
  border-bottom: solid 1px black
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
