.main{
  margin-top: 100px;
padding: 20px;
margin-left:200px;
}
h1{
  color: #1b40b9;
  }

.border {
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;

  overflow-x: auto;
  border: solid 3px #7790e2
}
  
  p {
    font-family: Arial, sans-serif;
    color: #1b40b9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-family: Arial, sans-serif;
    color: #1b40b9;
  }
  
