<div >

  <nav class="sidebar">
    <ul>
      <li><a routerLink="/admin-dashboard" routerLinkActive="active-link">Dashboard</a></li>
      <li><a routerLink="/sales-details" routerLinkActive="active-link">View All Sales</a></li>
      <li><a routerLink="/users-details" routerLinkActive="active-link">Manage User Roles</a></li>
      <li><a routerLink="/attendance" routerLinkActive="active-link">Attendance</a></li>

      <li><a routerLink="/team-activities" routerLinkActive="active-link">Team Activities</a></li>
      <li><a routerLink="/reports" routerLinkActive="active-link">Reports and Statistics</a></li>
    </ul>
  </nav>
</div>
