
/* Sidebar Styling */
.sidebar {
  margin-left: 20px;
  width: 100%; 
  height: 100%;
  background-color: #dfe1f5; 
  overflow-y: auto;
  padding: 0;
  border-radius: 10px;
  box-sizing: border-box; 
}




  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: rgb(19, 19, 182);
    text-decoration: none;
    display: block;
  }
  
  .sidebar  ul li a:hover {
    color: rgb(5, 5, 109);
    font-weight: bold;
  }


  
  .sidebar ul li a.active-link {
    font-weight: bold;
  }