form {
    width: 600px;
    margin: 0 auto;
    padding: 2em;
    border: 3px solid;
    border-radius: 1em;
    border-color: #7790e2;
    margin-top: 100px;
  
  }
  h1{
  color: #1b40b9;
  text-align: center;
  }
  h2{
    color: #1b40b9;
    }


  label {
    margin-bottom: 5px;
    display: block;
    font-weight:500;
    font-family: Arial, sans-serif;
    color: #09278b;
  
  }
  
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    font-size: 0.8em; 
    color: #849ae2;
  }
  input,
  select,
  textarea {
    border: 1px solid #849ae2;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;

  }
  
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    color: #09278b;
  }
  
  button {
    margin-top: 20px;
    padding: 0.7em 1.5em;
    color: #fff;
    background-color:#4769da;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;
  }

    
    .dropdown{
      background-color: white;
    }
    .date{
      color: #849ae2;
    }

    .success-message {
        margin-left: 100px;

        width: 500px;
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border-radius: 5px;
        margin-top: 100px;
        text-align: center;
       }
      