<div *ngIf="!isSubmitted" class="form">

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label for="clientName">Client Name:</label>
      <input type="text" id="clientName" formControlName="clientName" />
    </div>

    <div>
        <label for="Service">Service:</label>
        <select class='dropdown' formControlName="Service" id="Service">
          <option *ngFor="let Service of activeServices" [value]="Service">
            {{ Service }}
          </option>
        </select>
      </div>
    <div>
      <label for="serviceProvider">Service Provider:</label>
      <select class='dropdown'  formControlName="serviceProvider" id="serviceProvider">
        <option *ngFor="let provider of serviceProviders" [value]="provider">
          {{ provider }}
        </option>
      </select>
    </div>
    <div>
      <label for="duration">Duration:</label>
      <select class='dropdown'  formControlName="duration" id="duration">
        <option *ngFor="let duration of durations" [value]="duration">
          {{ duration }}
        </option>
      </select>
    </div>

    <div>
      <label for="Upgrade">Want to Upgrade Boxes:</label>
      <select class='dropdown'  formControlName="Upgrade" id="Upgrade">
        <option *ngFor="let option of wantToUpgradeBoxes" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>


    <div>
      <label for="clientAddress">Client Address:</label>
      <input type="text" id="clientAddress" formControlName="clientAddress" />
    </div>

    <div>
      <label for="clientPrimaryPhone">Primary Phone:</label>
      <input
        type="text"
        id="clientPrimaryPhone"
        formControlName="clientPrimaryPhone"
      />
    </div>

    <div>
      <label for="clientAlternatePhone">Alternate Phone:</label>
      <input
        type="text"
        id="clientAlternatePhone"
        formControlName="clientAlternatePhone"
      />
    </div>

    <div>
      <label for="clientRelation">Relation:</label>
      <input type="text" id="clientRelation" formControlName="clientRelation" />
    </div>

    <div>
      <label for="clientCloserName">Closer Name:</label>
      <input
        type="text"
        id="clientCloserName"
        formControlName="clientCloserName"
      />
    </div>


    <div>
      <label for="securityPin">Security Pin:</label>
      <input type="text" id="securityPin" formControlName="securityPin" />
    </div>

    <div>
      <label for="accountNum">Account Number:</label>
      <input type="text" id="accountNum" formControlName="accountNum" />
    </div>

    <div>
      <label for="SSN">SSN:</label>
      <input type="text" id="SSN" formControlName="SSN" />
    </div>

    <div>
      <label for="cardProvider">Card Provider:</label>
      <select class='dropdown'  id="cardProvider" formControlName="cardProvider">
        <option value="MasterCard">MasterCard</option>
        <option value="Visa">Visa</option>
        <option value="American Express">American Express</option>
        <option value="Discover">Discover</option>
      </select>
    </div>

    <div>
      <label for="nameOnCard">Name on Card:</label>
      <input type="text" id="nameOnCard" formControlName="nameOnCard" />
    </div>

    <div>
      <label for="CardType">Card Type:</label>
      <select  class='dropdown' id="CardType" formControlName="CardType">
        <option value="Credit">Credit</option>
        <option value="Debit">Debit</option>
      </select>
    </div>

    <div>
      <label for="cardNum">Card Number:</label>
      <input type="text" id="cardNum" formControlName="cardNum" />
    </div>

    <div>
      <label for="DOB">Date of Birth:</label>
      <input type="date" id="DOB" formControlName="DOB" />
    </div>

    <div>
      <label for="expiry">Card Expiry:</label>
      <input
        type="text"
        id="expiry"
        formControlName="expiry"
        placeholder="MM/YYYY"
      />
    </div>

    <div>
      <label for="CVV">CVV:</label>
      <input type="text" id="CVV" formControlName="CVV" />
    </div>

    <button type="submit" [disabled]="updateForm.invalid">Update</button>
  </form>
</div>
<div *ngIf="isSubmitted" class="success-message">
    <p>{{ successMessage }}</p>
  </div>