<div class="home-container">
    <div class="content-container">
      <div class="text-section">
        <h1>Welcome to Our CRM App</h1>
        <p>
          This is your one-stop solution for managing customer relationships. With our CRM app, you can streamline your workflow, improve customer satisfaction, and boost your sales. Explore the various features designed to help you manage your business effectively.
        </p>
      </div>
      <div class="image-section">
        <img src="assets/images/crm.webp" alt="CRM Image" />
      </div>
    </div>
  </div>
  